.carousel-img {
  height: 400px;       /* Ajusta la altura que quieras */
  object-fit: cover;   /* Recorta la imagen sin deformarla */
}
.marca-img:nth-child(1) img,
.marca-img:nth-child(4) img{
  width: 50%;
}

.img-top{
  width: 100%;
  height: 60%;
}